version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: shopping_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: shopping_cart_db
      MYSQL_USER: boss
      MYSQL_PASSWORD: boss123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  adminer:
    image: adminer
    container_name: shopping_adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - mysql

  backend:
    build: ./backend
    container_name: shopping_backend
    working_dir: /app
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - mysql

volumes:
  mysql_data:
